body {
    padding-top: 50px;
    /* This value depends on the height of your navbar.*/
}

#navbar {
    background-color: black;
}

.item-info
{
    margin: 2px;
    border: 1px solid black;
}
.modal-body
{
    max-height: 700px;
    overflow-y: auto;
}