#navbar {
    background-color: black;
}

body {
    background: #000000;
    background: -webkit-linear-gradient(to right, #434343, #000000);
    background: linear-gradient(to right, #434343, #000000);
}

<<<<<<< HEAD
.gameParts {
    width: 300px;
    height: auto;
    float: left;
}

h2 {
    font-size: medium;
    color: whitesmoke;
    margin-top: 5%;
}

p {
    font-size: smaller;
    color: whitesmoke;
}

.qtyCss {
    color: #DC3545;
    font-weight: bolder;
}

.priceCss {
    color: #DC3545;
    font-weight: bolder;
}

#notFind {
    font-size: x-large;
    color: #DC3545;
=======
#navbar {
    background-color: black;
}

.item-info
{
    margin: 2px;
    border: 1px solid black;
}
.modal-body
{
    max-height: 700px;
    overflow-y: auto;
>>>>>>> 44dc7773f1ed8685f7a0ebdb36576d8553e99b06
}